.site-layout-content {
    background: #fff;
    padding: 24px;
    min-height: 280px;
}

/* .layout { */
/* height: 100vh; */
/* } */
.layout .logo {
    width: 120px;
    height: 31px;
    background: rgba(0, 0, 0, 0.2);
    margin: 16px 24px 16px 0;
    float: left;
}

.layout .login-logo {
    width: 100%;
    height: 200px;
    background: rgba(0, 0, 0, 0.2);
    margin: auto;
}

.ant-layout-header {
    background: #fff;
}

.pull-left {
    float: left;
}

.pull-right {
    float: right;
}

.mr-0 {
    margin-right: 0px;
}

.ml-0 {
    margin-left: 0px;
}

.mt-0 {
    margin-top: 0px !important;
}

.mb-0 {
    margin-bottom: 0px;
}

.mb-5 {
    margin-bottom: 5px;
}

.mt-10 {
    margin-top: 10px;
}

.hide {
    display: none;
}

.ant-col {
    padding: 10px;
}

#login_layout .ant-col {
    padding: 0px !important;
}

.card-body-mp-15 .ant-card-body {
    padding-top: 15px;
}

.pl-0 {
    padding-left: 0px;
}

.pr-0 {
    padding-right: 0px;
}

.div-link-button {
    width: 100%;
    background: rgb(255 255 255 / 10%);
    font-size: 17px;
    font-weight: 400;
    border-radius: 10px;
    border: 1px solid rgb(255 255 255 / 50%);
    cursor: pointer;
    box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.35);
    margin-top: 15px;
}

.div-link-button:hover {
    background: rgb(255 255 255 / 20%);
}
.artist-content {
    z-index: 99;
}
.profile-header {
    font-size: 60px;
    font-weight: bold;
    position: absolute;
    top: 20px;
    left: 5px;
}
.image-profile {
    border-radius: 12px;
    box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.35);
    width: 240px;
}

@media screen and (max-width: 1300px) {
    .image-profile {
        width: 200px;
    }
    .profile-header {
        font-size: 50px;
    }
}
@media screen and (max-width: 1160px) {
    .image-profile {
        width: 175px;
    }
    .profile-header {
        font-size: 40px;
        top: 30px;
    }
}

@media screen and (max-width: 700px) {
    .image-profile {
        width: 180px;
    }
}

.song-image-background-blur {
    background: no-repeat center center fixed;
    background-size: cover;
    display: block;
    left: -5px;
    top: -5px;
    bottom: -5px;
    position: fixed;
    right: -5px;
    /* 
    -webkit-filter: blur(5px);
    -moz-filter: blur(5px);
    -o-filter: blur(5px);
    -ms-filter: blur(5px);
    filter: blur(10px); */

    filter: brightness(50%) blur(20px);
    -moz-background-size: cover;
    -o-background-size: cover;
    border: none;
    margin: -5px;
    z-index: 2;
    padding: 10px 10px;
}

.song-image-background {
    background: no-repeat center center fixed;
    background-size: cover;
    display: block;
    left: -5px;
    top: -5px;
    bottom: -5px;
    position: fixed;
    right: -5px;
    filter: brightness(40%);
    border: none;
    margin: -5px;
    z-index: 1;
    padding: 10px 10px;
}
